{% extends "base.html" %}
{% block content %}
<div class="experience">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h2>Experience</h2>
    <ul>
        <li><b>CV. Makmur Inti Sejahtera (Admin Fakturis)</b> — 2021 - 2022</li>
        <p>Bertanggung jawab membuat faktur yang diberikan sales dari customer</p>
        <li><b>PT Yau Shuenn Indonesia (Designer Produk)</b> — 2023</li>
        <p>Bertanggung Jawab membuat design yang menarik untuk produk kaos kaki</p>
        <li><b>Les Private Komputer</b> — 2024 - Sekarang</li>
        <p>Bertanggung Jawab untuk mengajar komputer agar siswa dapat memahami apa itu komputer</p>
        <li><b>Les Private Mandarin</b> — 2024 - Sekarang</li>
        <p>Bertanggung Jawab untuk mengajar mandarin supaya siswa dapat menulis, 
            berkomunikasi, dan mendengarkan dalam bahasa mandarin</p>
    </ul>
</div>
{% endblock %}