{% extends "base.html" %}
{% block content %}
<div class="hero">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <img src="{{ url_for('static', filename='profile.jpg') }}" alt="My Photo" class="profile-pic">
    <h1>Hello, Saya Riko Panggiano</h1>
    <p>Saya adalah seorang lulusan Teknik Informatika dengan minat besar pada pengembangan teknologi dan solusi digital. Latar belakang saya di bidang IT membuat saya terbiasa berpikir analitis, problem solving, serta menguasai dasar-dasar pemrograman, sistem informasi, dan pengelolaan data.
Selain kemampuan teknis, saya juga memiliki keahlian di bidang desain grafis serta hobi dalam fotografi dan photo editing, yang memperkaya perspektif saya dalam menciptakan solusi digital yang tidak hanya fungsional, tetapi juga menarik secara visual.
Saya percaya kombinasi antara logika teknologi dan sentuhan kreatif dapat menghasilkan karya yang inovatif. Karena itu, saya selalu terbuka untuk peluang kolaborasi, baik di bidang pengembangan software, sistem informasi, maupun proyek digital kreatif.</p>
</div>
{% endblock %}